* {
    margin:0;
    padding:0;
}
#wrap {
    width:100%;
    text-align: center;
}
h1 { 
    padding-top:50px;
    padding-bottom:50px;
}
a {
    text-decoration: none;
}
.list {
    width:90%;
    border: 1px solid #444444;
    border-collapse: collapse;
    margin:0 auto;
}
th, td {
    border-top: 1px solid #444444;
    height:50px;
  }

tbody tr:hover {
    background-color:#eee;
    cursor: pointer;
}
.page {
    margin-top:20px;
    
}
.page li {
    display: inline-block;
    margin-right:5px;
   line-height:30px;
}
.page li a {
    color:#444;
    display:block;
}
